name: Контроль качества

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  sonar:
    uses: autumn-library/workflows/.github/workflows/sonar.yml@main
    with:
      sonarqube: true
      github_repository: autumn-library/winow
      coveralls: true
      oscript_version: 'dev'
      test_engine: 'oneunit'
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
